
$body-color: #FFF7F1;
$header-color: #92A3CF;
$nav-color: #D4DBFF;
// box colors
$box-color-green: #B5E390;
$box-color-yellow: #F5D070;
$box-color-purple: #AB92DF;
$box-color-pink: #F9C1C1;
// border colors
$border-color-green: #527E4E;
$border-color-yellow: #AE810C;
$border-color-purple: #6A5696;
$border-color-pink: #de9191;
// light box colors
$light-box-green: #c8dfb5;
$light-box-yellow: #F5E29C;
$light-box-purple: #D6C2FF;
$light-box-pink: #f5d3d3;

  body {
    background-color: $body-color;
    margin: 0;
    padding: 0;
    cursor: url('./svg/lemon-regular.svg'), auto; 
   }
  
  main{
     height: 93vh;
     font-family: "Tilt Neon", sans-serif;
  }

  a:hover{
    font-weight: bolder;
    cursor: url('./svg/lemon-solid.svg'), auto;
  }

  header {
    background-color: $header-color;
    height: 10vh;
    border-bottom: 7px solid #59618B;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    background-color: $nav-color;
    height: 5vh;
    width: 90vw;
    border: 3px solid #757BAC;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: "Tilt Neon", sans-serif;
    text-decoration: none;
  }

  #tbl-landscape-text{
    display:  none;
  }

  li{
    padding: 10px;
  }

  #aboutme-box{
    background-color: $box-color-green;
    width: 25vw;
    height: 50vh;
    border: 8px  $border-color-green dashed;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #aboutme-button{
    height: 5vh;
    width: 8vw;
    background-color: $light-box-green;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid $border-color-green;
    border-radius: 10px;
    font-family: "Tilt Neon", sans-serif;
    font-size: 20px;
    color: black;
  }

  #homepage-img{
    height: 35vh;
    width: 12vw;
    border: $border-color-green 5px solid;
  }

  #contact-box{
    background-color: $box-color-yellow;
    width: 25vw;
    height: 35vh;
    border: 8px  $border-color-yellow dashed;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact-button{
    height: 5vh;
    width: 8vw;
    background-color: $light-box-yellow;
    border: 4px solid $border-color-yellow;
    border-radius: 10px;
    font-family: "Tilt Neon", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  #email-button{
    height: 5vh;
    background-color: $light-box-yellow;
    border: 4px solid $border-color-yellow;
    border-radius: 10px;
    font-family: "Tilt Neon", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

  }
  #phone-button{
    height: 5vh;
    background-color: $light-box-yellow;
    border: 4px solid $border-color-yellow;
    border-radius: 10px;
    font-family: "Tilt Neon", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

  }

  #boxes{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-evenly;
  }

  h2{
    font-family: "Tilt Neon", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 5vh;
    font-weight: lighter;
  }

  h1{
    font-family: "Bungee Hairline", sans-serif;
    font-size: 49px;
    text-align: center;
    margin: 0vh;
  }

  a{
    text-decoration: none;
    color: black;
  }

  a:visited{
    color: black;
  }



  #current-page{
    font-weight: bolder;
  }

  footer {
    background-color: $header-color;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-Top: 7px solid #59618B;
    font-family: "Tilt Neon", sans-serif;
}

// Kennis Page

#kennis-page-boxes{
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: space-evenly;
  height: 65vh;
}

#kennis-box{
  background-color: $box-color-purple;
  width: 25vw;
  height: 65vh;
  border: 8px  $border-color-purple dashed;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#kennis-button{
  height: 5vh;
  width: 8vw;
  background-color: $light-box-purple;
  border: 4px solid $border-color-purple;
  border-radius: 10px;
  font-family: "Tilt Neon", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#kennis-list{
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#vaardigheden-box{
  background-color: $box-color-green;
  width: 25vw;
  height: 50vh;
  border: 8px  $border-color-green dashed;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#vaardigheden-button{
  height: 7vh;
  width: 10vw;
  background-color: $light-box-green;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid $border-color-green;
  border-radius: 10px;
  font-family: "Tilt Neon", sans-serif;
  font-size: 20px;
  color: black;
}

#kennis-h1{
  font-family: "Bungee Hairline", sans-serif;
  font-size: 49px;
  text-align: left;
  margin-left: 3vw;
}

#vaardigheden-list{
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


// Ervaring page

#ervaring-page-boxes{
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: space-evenly;
  height: 65vh;
}

#ervaring-box{
  background-color: $box-color-pink;
  width: 60vw;
  height: 70vh;
  border: 8px  $border-color-pink dashed;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ervaring-button{
  height: 7vh;
  width: 10vw;
  background-color: $light-box-pink;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid $border-color-pink;
  border-radius: 10px;
  font-family: "Tilt Neon", sans-serif;
  font-size: 20px;
  color: black;
}

#ervaring-h1{
  font-family: "Bungee Hairline", sans-serif;
  font-size: 49px;
  text-align: left;
  margin-left: 3vw;
}

#ervaring-table {
  width: 50vw;
  height: 20vh;
  border-collapse: collapse;
  background-color: $light-box-pink;
  border: $border-color-pink solid 5px;
}

// Educatie page

#educatie-page-boxes{
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: space-evenly;
  height: 65vh;
}

#educatie-box{
  background-color: $box-color-yellow;
  width: 60vw;
  height: 60vh;
  border: 8px  $border-color-yellow dashed;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#educatie-button{
  height: 7vh;
  width: 10vw;
  background-color: $light-box-yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid $border-color-yellow;
  border-radius: 10px;
  font-family: "Tilt Neon", sans-serif;
  font-size: 20px;
  color: black;
}

#educatie-h1{
  font-family: "Bungee Hairline", sans-serif;
  font-size: 49px;
  text-align: left;
  margin-left: 3vw;
}

table {
  width: 40vw;
  height: 20vh;
  border-collapse: collapse;
  background-color: $light-box-yellow;
  border: $border-color-yellow solid 5px;
}
th, td {
  border: 1px solid $border-color-yellow;
  padding: 8px;
  text-align: left;
}
th {
  background-color: $light-box-yellow;
}

// projecten page

#projecten-main{
  height: 294vh;
  font-size: 20px;
}

#projecten-h1{
  font-family: "Bungee Hairline", sans-serif;
  font-size: 49px;
  text-align: left;
  margin-left: 3vw;
  margin-bottom: 5vh;
}

#projecten-box-1{
  background-color: $box-color-green;
  width: 60vw;
  height: 60vh;
  border: 8px  $border-color-green dashed;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 19.5vw;
}

#ouderavond-img{
  width: 30vw;
  border: $border-color-green solid 5px;
}

#ouderavond-text{
  width: 20vw;
  height: 16vh;
  border: $border-color-green solid 5px;
  border-radius: 20px;
  margin: 20px;
  padding: 15px;
  background-color: $light-box-green;
}

#ouderavond-div{
  display: flex;
  flex-direction: row-reverse;
}

#projecten-box-2{
  background-color: $box-color-purple;
  width: 60vw;
  height: 60vh;
  border: 8px  $border-color-purple dashed;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 19.5vw;
}

#game-div{
  display: flex;
  flex-direction: row-reverse;
}

#game-img{
  width: 30vw;
  border: $border-color-purple solid 5px;
}

#game-text{
  width: 20vw;
  height: 19vh;
  border: $border-color-purple solid 5px;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  background-color: $light-box-purple;
}

#projecten-box-3{
  background-color: $box-color-pink;
  width: 60vw;
  height: 60vh;
  border: 8px  $border-color-pink dashed;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 19.5vw;
}

#stage-div{
  display: flex;
  flex-direction: row-reverse;
}

#stage-img{
  height: 45vh;
  border: $border-color-pink solid 5px;
}

#stage-text{
  width: 20vw;
  height: 40vh;
  border: $border-color-pink solid 5px;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  background-color: $light-box-pink;
}

.break{
  background-color: $box-color-yellow;
  border: $border-color-yellow solid 5px;
  height: 5vh;
  margin-bottom: 32.5vh;
}



// Over Mij Page

#aboutme-page-boxes{
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: space-evenly;
  height: 65vh;
}

#aboutme-box-1{
  background-color: $box-color-pink;
  width: 30vw;
  height: 70vh;
  border: 8px  $border-color-pink dashed;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aboutme-page-button{
  height: 5vh;
  width: 8vw;
  background-color: #f9dcdc;
  border: 4px solid $border-color-pink;
  border-radius: 10px;
  font-family: "Tilt Neon", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#aboutme-box-2{
  background-color: $box-color-yellow;
  width: 25vw;
  height: 50vh;
  border: 8px  $border-color-yellow dashed;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutme-img{
  height: 43vh;
  border: $border-color-yellow 5px solid;
}

#aboutme-h1{
  font-family: "Bungee Hairline", sans-serif;
  font-size: 49px;
  text-align: left;
  margin-left: 3vw;
}

#aboutme-text{
  border: $border-color-pink 5px solid;
  border-radius: 20px;
  width: 25vw;
  padding: 10px;
  background-color: $light-box-pink;
}

// Tablet Landscape Responsive

// Homepage
@media (max-width: 1024px) {
  footer{
    margin-top: 2.vh;
  }
  h2{
    margin-bottom: 0;
    font-size: 20;
    background-color: green;
  }

  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    font-size: 40px;
    background-color: rgb(0, 0, 255);
    height: 10vh;
  }
  
  #aboutme-box{
    width: 35vw;
  }
  #homepage-img{
    width: 15vw;
  }
  #contact-box{
    width: 30vw;
  }

  #tbl-landscape-text{
    display: flex;
    margin-bottom: 8vh;
    width: 23vw;
    font-size: 20px;
    margin-right: 10vw;
  }

  #portfolio-h2{
    width: 30vw;
    height: 10vh;
  }

  #top-home-div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    margin-right: 33vw;
  }
}

// Kennis Page




